<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="~{fragments/header :: head}"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
    <title>Login</title>
  </head>
  <body>
    <header class="bg-danger text-white py-4 shadow-sm">
      <div class="container text-center">
        <h1 class="display-5 fw-bold">Benvenuto alla Pizzeria</h1>
        <p>Accedi per gestire pizze, ingredienti e altro!</p>
      </div>
    </header>

    
    <div th:if="${errorMessageLogin}" class="alert alert-danger text-center">
      <p th:text="${errorMessageLogin}" class="fw-bold"></p>
    </div>

     
    <div th:if="${logoutMessage}" class="alert alert-success text-center">
      <p th:text="${logoutMessage}" class="fw-bold"></p>
    </div>

    <div th:if="${errorUser}" class="alert alert-danger text-center">
      <p th:text="${errorUser}" class="fw-bold"></p>
    </div>


    <!-- Login Form -->
    <div
      class="container d-flex justify-content-center align-items-center"
      style="min-height: 60vh"
    >
      <form
        action="/login"
        method="post"
        class="border p-5 rounded shadow"
        style="width: 100%; max-width: 400px; background-color: #fff"
      >
        <h2 class="text-center mb-4 text-danger">Login</h2>

        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Inserisci username"
          />
        </div>

        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Inserisci password"
          />
        </div>

        <a class="text-warning mt-3" th:href="@{/user/create}">
          Non sei ancora registrato? Clicca qui!
        </a>

        <div class="d-grid">
          <button type="submit" class="btn btn-danger btn-block mt-3">
            Accedi
          </button>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
  </body>
</html>
